* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karma', serif;

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karma', serif;
  box-sizing: border-box;
}

html {
  font-size: 95.5%;
  background-color: #f7f7f7;
}

@media (max-width: 1200px) {
  html {
    font-size: 72.5%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 75.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 75.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 62.5%;
  }
}
.app {
  /* background-image: url('./assests/warm-bg.jpg'); */
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 657px;
  min-width: 100%;
  background-color: #d5adc8;
background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
/* height: 100vh; */
box-shadow: 0 6px 28px -3px rgba(0, 0, 0, 0.75);
}

.app.warm {
  height: 657px;
  /* background-image: url('./assests/sunny-bg.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* padding: 5rem 150px; */
  min-width: 100%;
  background-color: #734ae8;
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
  box-shadow: 0 6px 28px -3px rgba(0, 0, 0, 0.75);
}
section{
  display: flex;
  
  height: -webkit-fill-available;
}
@media screen and (max-width: 850px){
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    margin-top: 25px;
      
  }
.app{
  height: auto;
}
.app.warm {
  height: auto;
}
.app-main{
  margin-bottom: 25px;
}
}

.app-main {
  height: 599px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.815));

  width: 350px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2);

}

 .sunny{
  height: 599px;
  width: 400px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.911)), 
  url('./assests/cityday.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 28px -3px rgba(0, 0, 0, 0.75);
   
}
.winter{
  height: 599px;
  width: 400px;
  background-image: url('./assests/citylights.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 28px -3px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 420px){
  .sunny {
    
    width: 360px;
      
  }
  .winter {
    
    width: 360px;
      
  }
}
@media screen and (max-width: 380px){
  
  .sunny {
    
    width: 310px;
      
  }
   
  .winter {
    
    width: 310px;
      
  }
  .weather-boxx div.iconn{
    left:180px;
    top:85px;
  }
  div.weatherr{
    left:180px;
  }
  span.spanh{
    font-size: 1.8rem;
    left: 0.5rem;
  }
  span.spanw {
    
    position: absolute;
    left: 7.5rem;
    bottom: -1.2rem;
    width: 100%;
    font-size: 1.9rem;

      
  }
  footer .Humidityimg {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: -4.1rem;
    bottom: -0.2rem;
  }
  footer .Windimg {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    right: -0.1rem;
    bottom: -0.5rem;
  }
}
@media screen and (max-width: 330px)
{
.sunny {
    width: 280px;
}
.winter {
  width: 280px;
}
.weather-boxx div.iconn{
  left:155px;
  top: 111px;
}
.iconn i.iconImgg{
  font-size: 50px;
}
div.weatherr{
  left:150px;
}
.app-main{
  width: 280px;
}
}
.search-box {
  width: 94%;
}

.search-box .search-bar {
  display: block;
  width: 98%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  /* margin-top: -25px; */
  margin: 0 15px 0 15px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.location-boxx{
  display: flex;
  justify-content: flex-start;
}
.loc {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  padding-left: 40px;
}

 .date {
  color: #FFF;
  /* font-size: 2.4rem; */
  font-weight: 300;
  font-style: italic;
  /* text-align: center; */
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
 display: flex;
 flex-direction: column;
 padding-left: 20px;
}


.weather-boxx  {
  display: flex;
    flex-direction: row;
    top: -118px;
  height: 125px;
  position: relative;
    display: inline-block;
    margin: 10px;
    /* background-color: rgba(238, 197, 197, 0.2); */
    /* border-radius: 16px; */
    padding: 15px 25px;
    color: #FFF;
    font-size: 6rem;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    
}
.temp{
  position: absolute;
    top: 125px;
    left: 10px;
}
.temp .temperature{
  font-size: 11rem;
}
.temp .cell{
  font-size: 4rem;
}
.weatherr{
  /* display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; */
  position: absolute;
  top: 170px;
  left: 204px;
}
 .weatherr .descriptionn {
  
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  width: 159px;
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}

/* .description{
  
  font-size: 2.4rem;
  color: #fff;
} */
.iconn{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 40px;
  /* left: 201px; */
  left: 204px;
}
.iconImgg{

 
 padding-left:10px;
  color: #FFF;
  font-size: 110px;
  

}
.msg{
  display: block;
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
}
/* footer */

.footer {
      /* position: relative; */
      width: 81%;
      height: 5.5rem;
      font-size: 1.3rem;
      display: flex;
      justify-content: space-around;
      margin: 36px 0 0;
}
.humidity {
  left: 2.5rem;
  position: absolute;
  font-size: 2.4rem;
  color: #fff;
}

.wind {
  right: 2.5rem;
  position: absolute;
  font-size: 2.4rem;
  color: #fff;
}
.Humidityimg {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: -2.1rem;
  bottom: -0.5rem;

}

.Windimg {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  right: 0.9rem;
  bottom: -1.5rem;
}

.spanh {
  position: absolute;
    left: 3.5rem;
    bottom: 0.6rem;
    width: 100%;
    font-size: 1.4rem;
}

.spanw {
  position: absolute;
    left: 5.5rem;
    bottom: -0.4rem;
    width: 100%;
    font-size: 1.4rem;

}
@media screen and (max-width: 750px){
  span.spanh{
    font-size: 1.8rem;
    left: 0.5rem;
  }
  span.spanw {
    
    position: absolute;
    left: 7.5rem;
    bottom: -1.2rem;
    width: 100%;
    font-size: 1.9rem;

      
  }
  .Humidityimg {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: -4.1rem;
    bottom: 0.1rem;
  }
  .Windimg {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    right: 0.9rem;
    bottom: -0.5rem;
  }
}
/*search nextt 3 days forcast */ 
.search-days{
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* left: 59%; */
  /* top: 23%; */
  border: 0;


}





/* mobile devices */

.search-days :first-child {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 55px;
  width: 358px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.596);
border-right: 0;
transition: all .3s ease-in-out;
}
@media (max-width: 410px) {
  .search-days :first-child {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 318px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}

@media (max-width: 380px) {
  .search-days :nth-child(1) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 288px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
@media (max-width: 330px) {
  .search-days :nth-child(1) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 208px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
.search-days :nth-child(1):hover {
 font-size: 2rem;
  
  background: rgba(27, 26, 26, 0.5);
 transform: scale(1.1);
  border-radius: 0;
 
}
.search-days > :nth-child(1):hover > :first-child{
  background-color: transparent;
  min-width: 102px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 0;
    border-radius: 0;
    padding: 10px;
}

.search-days  :nth-child(2) {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 55px;
  width: 358px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
}
@media (max-width: 410px) {
  .search-days :nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 318px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
@media (max-width: 380px) {
  .search-days :nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 288px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
@media (max-width: 330px) {
  .search-days :nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 208px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
.search-days :nth-child(2):hover {
  font-size: 2rem;
   
   background: rgba(27, 26, 26, 0.5);
  transform: scale(1.1);
   border-radius: 0;
  
 }
 .search-days > :nth-child(2):hover > :first-child{
  background-color: transparent;
  min-width: 102px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 0;
    border-radius: 0;
    padding: 10px;
}
.search-days  :nth-child(3) {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 55px;
  width: 358px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
}
@media (max-width: 410px) {
  .search-days :nth-child(3) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 318px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
@media (max-width: 380px) {
  .search-days :nth-child(3) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 288px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }

  i.iconImgg {
    padding-left: 10px;
    color: #FFF;
    font-size: 75px;
}
}
@media (max-width: 330px) {
  .search-days :nth-child(3) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 55px;
    width: 208px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  border-right: 0;
  transition: all .3s ease-in-out;
  }
}
.search-days :nth-child(3):hover {
  font-size: 2rem;
   
   background: rgba(27, 26, 26, 0.5);
  transform: scale(1.1);
   border-radius: 0;
  
 }
 .search-days > :nth-child(3):hover > :first-child{
  background-color: transparent;
  min-width: 102px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 0;
    border-radius: 0;
    padding: 10px;
}

/* nth child 1 */

.search-days > :nth-child(1) > :first-child  {
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: 0;
  border-radius: 0;
  padding: 10px;

}
.search-days > :nth-child(1) > :nth-child(2){
  
  font-size: 1.6rem;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
}
.search-days > :nth-child(1) > :nth-child(3){
border: 0;
  width: 50px;
  height: 50px;
}
.search-days > :nth-child(1) > :nth-child(3) :first-child{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  }
.search-days > :nth-child(1) > :nth-child(4){

  
  margin:0 10px;
  font-size: 1.6rem;
  min-width: 40px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
border: 0;
border-radius: 0;
 
}

.search-days > :nth-child(1) > :nth-child(4) :nth-child(1){
  border: 0;
 
  font-size: 1.8rem;
  line-height: 2rem;
  height: 0;
  /* position: absolute;
  top: 20px;
  right: 9px; */
  
}
.search-days > :nth-child(1) > :nth-child(4) :nth-child(2){

  display: none;
}

/* nth child 2 */

.search-days > :nth-child(2) > :first-child  {
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: 0;
  border-radius: 0;
  padding: 10px;

}
.search-days > :nth-child(2) > :nth-child(2){
  
  font-size: 1.6rem;
      min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
}
.search-days > :nth-child(2) > :nth-child(3){
  border: 0;
  width: 50px;
  height: 50px;
}
.search-days > :nth-child(2) > :nth-child(3) :first-child{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.search-days > :nth-child(2) > :nth-child(4){

  
  margin:0 10px;
  font-size: 1.6rem;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
 
}

.search-days > :nth-child(2) > :nth-child(4) :nth-child(1){
  border: 0;
  
  font-size: 1.8rem;
  line-height: 2rem;
  height: 0;
  /* position: absolute;
  top: 20px;
  right: 9px; */
  
}
.search-days > :nth-child(2) > :nth-child(4) :nth-child(2){

  display: none;
}

/* nth child 3 */

.search-days > :nth-child(3) > :first-child  {
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: 0;
  border-radius: 0;
  padding: 10px;

}
.search-days > :nth-child(3) > :nth-child(2){
  
  font-size: 1.6rem;
      min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
}
.search-days > :nth-child(3) > :nth-child(3){
  border: 0;
  width: 50px;
  height: 50px;
}
.search-days > :nth-child(3) > :nth-child(3) :first-child{
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.search-days > :nth-child(3) > :nth-child(4){

  
  margin:0 10px;
  font-size: 1.6rem;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
}

.search-days > :nth-child(3) > :nth-child(4) :nth-child(1){
  border: 0;
  
  font-size: 1.8rem;
  line-height: 2rem;
  height: 0;

  
}
.search-days > :nth-child(3) > :nth-child(4) :nth-child(2){

  display: none;
}

